/* Structure */
body { margin: 0; font-family: DINWeb, sans-serif; overflow-x: scroll; }

/* iFrames */
.frame { float: left; }
iframe { margin: 0 20px 20px 0; border: 1px solid #999; }
.wrapper { margin: 0 20px; }

/* ==========================================================================
   WEB FONTS
   ========================================================================== */

/*  DIN Font is NOT open source. Licensed for Draftfcb use only. 
    To obtain a license, purchase from fontfont.com */

/* first for IE 4–8 */
  @font-face {
    font-family: DINWeb-Light;
    src: url("fonts/DINWeb-Light.eot");
  }

  /* then for WOFF-capable browsers */
  @font-face {
    font-family: DINWeb-Light;
    src: url("fonts/DINWeb-Light.woff") format("woff");
  }

/* first for IE 4–8 */
@font-face {
  font-family: DINWeb;
  src: url("fonts/DINWeb.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: DINWeb;
  src: url("fonts/DINWeb.woff") format("woff");
}

/* first for IE 4–8 */
@font-face {
  font-family: DINWeb-Bold;
  src: url("fonts/DINWeb-Bold.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: DINWeb-Bold;
  src: url("fonts/DINWeb-Bold.woff") format("woff");
}

header, .controls, .wrapper { width: 5400px; }
header {
    background: #111;
    padding: 10px 10px 5px; 
}
.author { color: #999; font-style: italic; }
.author a,.author a:visited { color: #aaa; }
h1, h2 { line-height: 1; padding:0; margin: 0 0 5px; font-weight: normal; }
header h1, header h2 { display: inline; color: #fff; padding: 0 10px; font-size: 18px; }
header h1 { text-transform: uppercase; font-family: DINWeb-Bold; }
header h2 { font-family: DINWeb-Light; font-size: 1em; }
label { font-size: 14px; }
a, a:visited, a:active { color: #999;}
a:hover { color: #666;}

.controls { margin: 0 0 20px; padding: 0 0 5px 18px; background: #eee; }
fieldset { margin-top: -8px; border: none; padding: 0; display: inline; line-height: 2.4; }
.share-field { font-size: .8em; }
#share-field-input { width: 200px; cursor: pointer;}
#view-btn { left: -5px; text-transform: uppercase; border-top-left-radius: 0; border-bottom-left-radius: 0; }
#view-random-btn {  margin: 0 5px; }
#curr-site { margin: 20px; font-style: italic; }
#frames-wrapper { margin-top: 10px; }
.social-btn { padding-left: 12px; position: relative; top: 12px; }

.btn {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #efefef), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #efefef 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#dfdfdf');
    background-color:#efefef;
    border: solid 2px #dcdcdc;
    color:#666;
    font-size:12px;
    font-weight:bold;
    padding: 6px 10px 4px;
    text-decoration:none;
    text-shadow:1px 1px 0px #efefef;
    position: relative;
    top: -1px;
    font-family: DINWeb-Bold;
    border-radius: 12px;
}
.btn-active {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ddd), color-stop(1, #bbb) );
    background:-moz-linear-gradient( center top, #ddd 5%, #bbb 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#bbb');
    background-color:#ccc;
    border: solid 2px #aaa;
    color: #eee;
    text-shadow:  0 0 2px #444;
}